@charset "UTF-8";

@font-face {
  font-family: "chatwindow";
  src:url("fonts/chatwindow.eot");
  src:url("fonts/chatwindow.eot?#iefix") format("embedded-opentype"),
    url("fonts/chatwindow.woff") format("woff"),
    url("fonts/chatwindow.ttf") format("truetype"),
    url("fonts/chatwindow.svg#chatwindow") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chatwindow" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chatwindow" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-selected:before {
  content: "\e010";
}
.icon-checkbox-unselected:before {
  content: "\e011";
}
.icon-minimize:before {
  content: "\e012";
}
.icon-recover:before {
  content: "\e013";
}
.icon-radio-unselected:before {
  content: "\e014";
}
.icon-radio-selected:before {
  content: "\e015";
}
.icon-close:before {
  content: "\e006";
}
.icon-attachment:before {
  content: "\e007";
}
.icon-popup:before {
  content: "\e008";
}
