.iconfont:before {
	font-family:chatwindow;
	text-decoration:none !important;
}

.icon-minimize:before {
  content: "\e012";
}
.icon-restore:before {
  content: "\e013";
}
.icon-close:before {
  content: "\e006";
}
.icon-attachment:before {
  content:"\e007";
  color:#4f4f4f;
}
.icon-popup:before {
  content:"\e008";
}



html,body
{
    margin: 0px;
    padding: 0px;
    border:none;
	overflow:hidden;
	height:100%;
	width:100%;
}

body
{
    font-size: 12px;
	background: white;
}

input,textarea, select,body
{
	font-family: "open_sans", Tahoma, Arial, Verdana, sans-serif;
}


img 
{
    border: 0 none;
}

select {
    margin: 0;
}

textarea
{
    height:50px;
    line-height: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #CDCDCD;
	margin-top: 0;
	padding: 3px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out 0.2s;
	-moz-transition: border-color ease-in-out 0.2s;
	transition: border-color ease-in-out 0.2s;
	background-color: #F8F8F8;
	font-size: 12px;
}
.dropdown {
	-webkit-transition: border-color ease-in-out 0.2s;
	-moz-transition: border-color ease-in-out 0.2s;
	transition: border-color ease-in-out 0.2s;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline:none;
}

input[type=radio], input[type=checkbox] {
    margin-left:1px;
}

input[type=button] 
{
	border:none;
	outline:none;
	border-radius: 4px;
	color:#fff;
	padding:3px 9px;
}

a
{
    color: #333300;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.clear 
{
    clear:both;
	height:0;
	visibility:hidden;
}

.ui-offline .footer, .ui-prechat .footer
{
    display: none;
}

.chat a
{
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

/*show elements*/
.ui-prechat #prechat-window,
.ui-chatting #chat-window,
.ui-chat-not-start #chat-window,
.ui-offline #offline-window,
.ui-login #login-window,
.ui-ban #ban-window,
.ui-loading #loading-window,
.ui-chatting #chat-tools,
.ui-chat-not-start #chat-tools,
.ui-chat-not-start .chat-input,
.ui-chatting .chat-input,
.ui-postchat #postchat-window,
.ui-prelogin #prelogin-window
{
    display: block;
}

#chat-tools .sound-on #btn-sound-on,
#chat-tools .sound-off #btn-sound-off,
#chat-tools .sound-on #btn-sound-on,
#chat-tools .sound-off #btn-sound-off,
#chat-tools .start-voice #btn-end-voice,
#chat-tools .end-voice #btn-start-voice
{
    display: inline-block;
}


/*hide elements*/
#chat-tools .sound-on #btn-sound-off,
#chat-tools .sound-off #btn-sound-on,
#chat-tools .start-voice #btn-end-voice,
#chat-tools .end-voice #btn-start-voice,

.ui-prechat #chat-tools,
.ui-offline #chat-tools,
.ui-login #chat-tools,
.ui-ban #chat-tools,
.ui-loading #chat-tools,
.ui-prechat #chat-window,
.ui-prechat #offline-window,
.ui-prechat #login-window,
.ui-prechat #ban-window,
.ui-prechat #loading-window,
.ui-chatting #prechat-window,
.ui-chatting #offline-window,
.ui-chatting #login-window,
.ui-chatting #ban-window,
.ui-chatting #loading-window,
.ui-offline #prechat-window,
.ui-offline #chat-window,
.ui-offline #login-window,
.ui-offline #ban-window,
.ui-offline #loading-window,
.ui-ban #prechat-window,
.ui-ban #chat-window,
.ui-ban #login-window,
.ui-ban #offline-window,
.ui-ban #loading-window,
.ui-loading #prechat-window,
.ui-loading #chat-window,
.ui-loading #login-window,
.ui-loading #offline-window,
.ui-loading #ban-window,
.ui-loading .header,
.ui-loading .footer,
.ui-loading #postchat-window,
.ui-login #prechat-window,
.ui-login #chat-window,
.ui-login #offline-window,
.ui-login #ban-window,
.ui-login #loading-window,
.ui-chat-not-start #prechat-window,
.ui-chat-not-start #offline-window,
.ui-chat-not-start #login-window,
.ui-chat-not-start #ban-window,
.ui-chat-not-start #loading-window,
.ui-postchat #prechat-window,
.ui-postchat #offline-window,
.ui-postchat #login-window,
.ui-postchat #ban-window,
.ui-postchat #loading-window,
.ui-postchat #chat-window,
.ui-postchat .icon-snapshot,
.ui-postchat #btn-upload,
.ui-postchat #btn-voice,
.ui-postchat .icon-rating,
.ui-postchat #btn-sound,
.ui-postchat .icon-rename,
.ui-postchat #social-icons,
.ui-prechat #postchat-window,
.ui-offline #postchat-window,
.ui-login #postchat-window,
.ui-ban #postchat-window,
.ui-chatting #postchat-window,
.ui-chat-not-start #postchat-window,
.ui-chat-not-start #chat-input,
.ui-offline .chat-input,
.ui-prechat .chat-input,
.ui-postchat .chat-input,
.popup-window .title-text,
.ui-prelogin #chat-window,
.ui-prelogin #offline-window,
.ui-prelogin #login-window,
.ui-prelogin #ban-window,
.ui-prelogin #loading-window,
.ui-prelogin #postchat-window,
.ui-prelogin #prechat-window,
.ui-prechat #prelogin-window,
.ui-offline #prelogin-window,
.ui-login #prelogin-window,
.ui-ban #prelogin-window,
.ui-loading #prelogin-window,
.ui-chat-not-start #prelogin-window,
.ui-chat-not-start #chat-input,
.ui-postchat #prelogin-window,
.ui-chatting #prelogin-window
{
    display: none;
}

.ie6 #chat-tools .icon, .ie7 #chat-tools .icon {
    margin-right: 5px;
}

.footer .icon {
    position: relative;
    margin-right: 7px;
    float:left;
}

.title-buttons .iconfont {
	float:right;
	cursor:pointer;
}
.title-buttons {
	position:absolute;
	right:0;
	top:0;
}

.icon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 0;
    cursor: pointer;

    background: url('../images/icons7.png?v=20150706') no-repeat;
}

.icon-large
{
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    background: url('../images/icons7.png?v=20150706') no-repeat;
}
.icon-snapshot
{
    background-position:0 0;
}
.icon-email
{
    background-position: -16px 0;
}
#btn-upload .icon-upload,
#btn-upload.disabled .icon-upload-disabled
{
    display: inline-block;
}
#btn-upload .icon-upload-disabled,
#btn-upload.disabled .icon-upload 
{
    display: none;
}

.icon-upload
{
    background-position: -32px 0;
}
.icon-upload-disabled
{
    background-position: -48px 0 !important;
    cursor: default;
}
.icon-rating
{
    background-position: -64px 0;
}
.icon-no-rating
{
    background-position: -192px 0;
}
.icon-rating-large
{
    background-position: -85px -16px;
}
.icon-no-rating-large
{
    background-position: -115px -16px;
}
.icon-rename
{
    background-position: -80px 0;
}
.icon-sound-off
{
    background-position: -96px 0;
}
.icon-sound-on
{
    background-position: -112px 0;
}
.icon-start-voice
{
    background-position: -128px 0;
}
.icon-end-voice
{
    background-position: -144px 0;
}
.icon-print
{
    background-position: -69px -16px;
}
.icon-audio-chat
{
    background-position: -128px 0;
}
.icon-video-chat
{
    background-position: -144px 0;
}
.icon-audio-chat.disabled,
.icon-video-chat.disabled
{
    opacity: .5;
    cursor: default;
}
.icon-loading 
{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../images/loading.gif');
}
.icon-holder {
    width: 33px;
    height: 26px;
    background-position: 0px -16px;
}
.icon-facebook {
    width: 18px;
    height: 18px;
    background-position: -33px -16px;
}
.icon-googleplus {
    width: 18px;
    height: 18px;
    background-position: -51px -16px;
}


.attachment .icon-attachment {
	margin-left:2px;
	font-size:larger;
	height:0;
	position: relative;
	top: 3px;
}

.chat-visitor-uploading {
    height: 16px;
    line-height: 16px;
}
.chat-visitor-uploading-file-name {
    _width: 240px;
    +width: 240px;
    word-break:break-all;
}
.chat-visitor-uploading .block
{
	margin-right:2px;
}
.chat-visitor-uploading .icon-loading {
	position:relative;
	top:3px;
}
#uploading {
	margin-top:-3px;
}
.chat-visitor-uploading .icon-close {
	height:0;
	font-size:smaller;
	margin-left:6px;
	cursor:pointer;
}

.poweredby
{
    color: inherit;
    float: right;
}
#loading-window
{       
    padding: 20px 10px 10px 10px;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
}

.popup-only, .embedded-only {
	display:none;
}

.popup-window .popup-only {
	display:inline-block;
}

.embedded-window .embedded-only {
	display:inline-block;
}

.ui-chatting .btn-close,
.ui-chat-not-start .btn-end-chat,

.ui-prechat .btn-end-chat,
.ui-prechat .btn-minimize,
.ui-prechat .btn-popup,

.ui-offline .btn-end-chat,
.ui-offline .btn-minimize,
.ui-offline .btn-popup,

.ui-ban .btn-end-chat,
.ui-ban .btn-minimize,
.ui-ban .btn-popup,

.ui-loading .btn-end-chat,
.ui-loading .btn-minimize,
.ui-loading .btn-popup,

.ui-postchat .btn-end-chat,

.ui-prelogin .btn-end-chat,
.ui-prelogin .btn-minimize,
.ui-prelogin .btn-popup
{
    display: none;
}

.popup-window .btn-close,
.popup-window .btn-end-chat {
	margin-right: 10px;
	cursor:pointer;
}

.title
{
	position:absolute;
	top: 0px;
	left:0px;
	right:0px;
	font-size: 12px;
}

.title .iconfont {
	font-size:11px;
    margin-right:8px;
}

.header
{
	position:absolute;
	top:24px;
	left:0px;
	right:0px;
	border-bottom: solid 1px #ddd;
	height:63px;
	line-height:63px;
	width:100%;
	direction:ltr;
}

.header-branding-image
{
	display:block;
}

.header-logo
{
	font-size:0;
	position:absolute;
	right:0;
	padding-right:10px;
	width:170px;
    text-align:right;
}
.header-logo-image
{
	vertical-align:middle;
	max-height:53px;
	max-width:170px;
}

.header-operator
{
	padding-left:85px;
	height:63px;
	position:absolute;
	left:0;
	z-index:100;
}

.header-operator-avatar
{
	position: absolute;
	left:10px;
	top:-15px;
	font-size:0;
	background:#fff;
}
.header-operator-avatar-image
{
	max-height: 60px;
	min-height: 60px;
	max-width: 60px;
	min-width: 60px;
	display:block;
}
.ui-prechat .header-operator,
.ui-offline .header-operator,
.ui-prelogin .header-operator
{
    display: none;
}

.header-operator-name,
.header-operator-title
{
	float:left;
	clear:both;
	line-height:20px;
}
.header-operator-name
{
	padding-top:8px;
	font-size: 15px;
	white-space: nowrap;
	overflow:hidden;
}
.header-operator-title
{
    padding-top:3px;
	font-size:14px;
	color:#888;
	white-space:nowrap;
	overflow:hidden;
}

#box-window
{
    overflow: auto;
}
.ui-chat-not-start #box-window,
.ui-chatting #box-window
{
    overflow: hidden;
}

.chat-input
{
    /*_width: 97% !important;*/
    /*+width: 97% !important;*/
	display:none;

	width: 100%;

	position:absolute;
	left:0;
	bottom:0;
}

.chat-input
{
	bottom: 30px;
}

.chat-input textarea 
{
    resize:none;
	background-color:#fff;
    width: 100%;
    outline: none;
    border: none;
    padding-left: 10px;

    +height: 55px;
    _height: 55px;
    +padding-left: 0;
    _padding-left: 0;

	font-size:14px;
	height:60px;
}

#drag-holder {
    display: none;
}
#drag-holder.hold {
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(230, 227, 166, 0.5);
    position: absolute;
    direction: ltr;
    z-index: 1;
}
#drag-holder .icon-holder {
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    position: relative;
    margin-left: -16px;
    margin-top: -13px;
    cursor: default;
}

.box-plugin-required {
    text-align: center;
}
.chat-notification
{
    float:left;
}
.ui-loading .footer
{
    position: absolute;
    bottom: 0px;
}

.opacity
{
    -moz-opacity: 0.7;
    -webkit-opacity:0.7;
    -khtml-opacity:0.7;
    filter:alpha(opacity=70);
    opacity: 0.7;
}

.chat
{
	position:absolute;
	top:88px;
	bottom:90px;
	left:0px;
	right:0px;
	padding:0;
	overflow:auto;
}

/*.ui-chat-not-start .chat
{
	bottom:30px;
}*/
.chat .spacer {
    height: 10px;
}
#chat-window-error-box {
    width:80%;
    position: absolute;
    bottom: 118px;
    left: 10%;
    text-align: center;
    height: 20px;
    line-height: 20px\9;
}
#chat-window-error {
    background: rgb(255, 235, 235);
    color: rgb(216,54,54);
    border-radius: 3px;
    font-weight: normal;
    padding: 2px 10px;
    margin: auto;
    width: auto;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}
#upload-error, .error
{
    font-weight: bold;
    font-size: 12px;
    /*white-space: nowrap;*/
    overflow: hidden;
    display: none;
}
.post-error
{
    white-space:normal;
}
.error 
{
    color: red;
}
.form .error
{
	padding:10px 25px 0 25px;
}
.error-close-box {   
    display: inline-block; 
    padding-left: 10px;
}
#chat-window-error-close {
    color: #888 !important;
    font-size: 10px;
    cursor: pointer;
}
.field-table
{
    +table-layout: fixed;
}
.field-table tr 
{
    margin-bottom: 3px;
}

.form-style-ver .checkbox-field-label-hor,
.form-style-hor .checkbox-field-label-ver
{
    display: none;
}
.form-style-ver .checkbox-field-label-ver,
.form-style-hor .checkbox-field-label-hor
{
    display: '';
}
.field-name label
{
    font-weight: bold;
}

.form-style-hor .field-name
{
    max-width: 85px;
    overflow: hidden;
    vertical-align:middle;
}
.form-style-ver .field-name
{
	padding-bottom:2px;
}
.field-star
{
    color:red;
    width: 10px;
    font-weight:bold;
}
.field-required
{
    white-space: nowrap;
    color:red;
    /*font-weight:bold;*/
}

.field-control
{
    width:100%;
    display: inline-block;
	box-sizing:border-box;
}
.form-style-ver {
	width:80%;
}
.form-style-ver .td-field-control
{
    +width:240px;
    padding-bottom: 9px;
}
.form-style-hor .td-field-control
{
    padding: 4px 0;
    width:238px;
}
.form textarea {
	height:40px;
}

select {
	height:30px;
}

.field-control-row {
	padding-bottom:5px;
}

/*ie10 only*/
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .field-control
    {
        width: 230px !important;
    }
}*/
.popup .field-control
{
    border: solid 1px #aaa;
    outline: none;
}
.field-attachment
{
    border: solid 1px transparent;
}
.field-control.required
{
    border: solid 1px red !important;
}

.offline-submit-form
{
    display: none;
}
input[type='checkbox'].field-control
{
    margin-left:1px;
    width: auto !important;
}
.ie8 input[type='checkbox'].field-control
{
    margin-left:-3px;
    width: auto !important;
}
.online-department
{
    color: green;
}
.offline-department
{
    color: red;
}

.field-value
{
    width:230px;
}
.field-value select
{
    width:240px;
}
.field-ticket-prefix
{
    width:55px;
}
.field-ticket
{
    width:140px;
}

.greeting-message
{
	display:none;
}
.greeting-message a {
	text-decoration:underline;
	color:inherit;
}
#popup-mask
{
    display:none;
    position: absolute;
    left: 5px;
    bottom: 38px;
    bottom: 39px\9;
    color: black;
	z-index:2;
}
/*ie10 only*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #popup-mask {
        bottom: 39px !important;
    }
}
#popup-flash-required {
    width: 300px;
}

.popup .greeting {
    text-align: center;
    padding-bottom: 5px !important;
}

.popup input[type=text] {
    padding: 1px 2px;
}
.popup-arrow-box {
    position: absolute;
    bottom: 33px;
    
    *bottom: 34px;
    bottom: 34px\0;
    
    /*top: 0px;
    left: 0px;*/
    display: none;
}
.popup-arrow {

    border-left: 9px solid rgba(255, 255, 255, 0);
    border-right: 9px solid rgba(255, 255, 255, 0);
    border-top: 7px solid #fff;

    border-left: 9px solid transparent\0;
    border-right: 9px solid transparent\0;
    border-top: 7px solid #fff\0;

    *border-left: 9px solid transparent;
    *border-right: 9px solid transparent;
    *border-top: 7px solid #fff;

    width: 0;
    height: 0;
    position: absolute;

    z-index: 3;
    
    _line-height: 0;
    _font-size: 0;

    _display:none;
}

.popup-arrow-border {
    z-index: 2 !important;
    border-top: 7px solid #ececec;
    top: 2px;
}
.popup .field-control {
    width: 170px;
}
.popup
{
    padding: 10px 10px 0px 10px;
    display: none;

    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    background: white;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    color: #333;
    z-index: 4;
	border:solid 1px #eee;
}
.ie6 .popup, .ie7 .popup, .ie8 .popup {
    border:2px solid #ccc;    
}

#popup-rating .greeting {
    font-weight: bold;
}
#popup-rating {
    padding: 10px 10px 0px 10px;
    width: 250px !important;
    overflow: hidden;
    text-align: center;
}
#rating-comment-control 
{
    width: 230px !important;
}
.ie7 #rating-comment-control
{
    width: 220px !important;
}
#rating-grades {
    /*padding: 10px 0;*/
    padding: 5px 0 10px 0;
}

#rating-grades .required {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: red;
}

.box-stars span {
    margin-right:5px;
}
.box-stars:last-child {
    margin-right:0;
}
.box-stars
{
    overflow: auto;
}
#popup-rating .field-name {
    padding:0 0 5px 0;
    width: auto;
}
#popup-voice
{
    padding:0;
    margin:0;
}
.popup-bottom
{
    text-align: center;
    padding:10px;
}

#ban-error
{
    padding: 10px;
}
.rating-grade
{
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 5px;
}
.rating-grade label,.rating-grade input
{
    vertical-align: middle;
}

.ie8 #chat-content-bottom
{
    display:block;
    height:5px;
    width:10px;
}

.chat-input-control-box {
	position:relative;
	width:100%;
	padding:0;
	margin:0;
}

#chat-input-control-label
{
    position:absolute;
    bottom:47px;
    color:#aaa;
}

#voice-request-message 
{
    padding-right: 15px;
}
#popup-voice-request .lang-yes
{
    padding-right: 5px;
}
#popup-voice
{
    position: absolute;
}

#chat-greeting a,.greeting a
{
    text-decoration: underline;
}

#popup-email
{
    width: 230px;
}
#popup-rename
{
    width:178px;
}
#send-email-control
{
    width: 224px;
}

.chat-send
{
    border-radius: 4px;
    border: solid 1px #ddd;
    padding-left: 18px;
    padding-right: 18px;
    height: 33px;
    line-height:33px;
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

	text-decoration:none;
    text-shadow: none;
	background: #f6f6f6;

    white-space: nowrap;
    margin:0 10px;
	font-size:14px;
}

.chat-send:hover
{
	text-decoration:none;
	background:#eee;
}


.chat-send:active
{
	background:#aaa;
}

.title-text
{
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    _width: 300px;
    +width: 300px;
    _display:inline;
    +display:inline;
}

.minimized
{
    display: none;

    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
	line-height:30px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.minimized .icon-restore {
	float:right;
	margin-right:10px;
}

.minimized .notification
{
	float:left;
    margin-left: 20px;
    width: 180px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.validation-message
{
    display: none;
}
.form-style-hor .required .validation-message
{
    display: block;
}
.form-style-ver .required .validation-message
{
    display: inline;
}

.lang-invalid-email
{
    display: none;
}
.red
{
    color: red;
    /*font-weight: bold;*/
}

.star
{
    padding-left: 3px;
    padding-right: 3px;
}

.top-radius
{
    border-radius: 4px 4px 0 0;
}

.box-placeholder
{
    position:relative;
}

.placeholder
{
    color:#bbb;
    position:absolute;
    top:7px;
    left:17px;
    display:none;
}

.modal-backdrop
{
    width:100%;
    height:100%;
    position:absolute;
    opacity:0.3;
    filter: alpha(opacity=30);
    background-color: black;
    top: 0;
    left: 0;
    z-index: 999;
}
.dialog
{
    width: 260px;

    background-color: white;
    position:absolute;
    z-index: 1000;
    top:50%;
    left:50%;
	margin-left:-150px;
	margin-top:-56px;
    border-radius: 5px;

	border: solid 1px #eee;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;

    padding: 20px;
    opacity:1;
    filter: alpha(opacity=100);
}
.close {
	cursor:pointer;
	font-size: 10px;
	color:#bbb;

    position:absolute;    
    right: 7px;
    top: 7px;
}
.dialog-bottom
{
    padding-top:30px;
    text-align: center;
}
.dialog-content
{
    padding-top:10px;
}
.field-control-input
{
    vertical-align: top;
    /*padding-top: 2px;*/
}

.box-hor-or {
    text-align: center;
    padding: 15px 0 0 0;
}

.hor-or {
    /* margin: 0 auto; */
    text-align: center;
    background: white;
    /* width: 20px; */
    display: inline-block;
    z-index: 2;
    position: relative;
    padding: 0 5px;
}
.hor-bar {
    position: relative;
    border-top: solid 1px #a7a7a7;
    width: 100%;
    display: block;
    top: 9px;
    z-index: 1;
}

#social-logins {
	padding:15px 25px 0 25px;
}

#social-logins .lang-sign-in-with {
    margin-right: 5px;
    padding: 0 !important;
}
#social-logins .float-left {
    height: 18px;
}

.box-icons {
    font-size: 0
}
.box-icons .icon {
    margin: 0 5px;
}

#social-login-icons {
    height: 20px;
}
#social-login-icons .icon-loading {
    display: none;
}

.translation-tag, 
.original-tag {
	font-style: italic;
	color: #888888;
}
.translate-message {
	font-style: normal;
}

.original-message {
    color: #888888 !important;
}

#main-server-ajax,
#standby-server-ajax,#ifr-snapshot,
#ifr-upload
{
	position:absolute;
	left: -1000px;
	display:none;
}

.footer
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
    height: 16px;
	padding:7px;
}

.title
{
    height: 24px;
    line-height: 24px;
    text-align: center;
}

#embedded-window-minimized
{
	text-align: left;
}

.form
{
	overflow:auto;
	top:88px;
	bottom:0px;
	left:0px;
	right:0px;
	position:absolute;
	font-size:13px;
}

/*padding-top will cause chrome scroll bar issue use this instead*/
.form:before {
	content:'';
	display:block;
	height:5px;
}

.form textarea,.form input[type=text] {
	font-size:13px;
}

.form input[type=text] {
	height:30px;
}
.form input[type=button]
{
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size:14px;
}

.form-fields
{
	padding:10px 25px 0 25px;
}

.form-bottom
{
    text-align:center;
    padding-top: 0;
	padding-bottom: 12px;
}

.ui-prechat .form-bottom
{
    padding-top:8px;
}
.ui-postchat .form-bottom,
.ui-offline .form-bottom 
{
    padding-top:4px;
}
.greeting-message
{
	padding:5px 25px 0 25px;
}

#loading-window
{
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	position:absolute;
}

#loading-window img
{
	position:absolute;
	z-index:1;
	top:120px;
	left:50%;
	margin-left:-16px;
}

#postchat-window
{
	bottom:30px;
}

#div-sound-player
{
	position:absolute;
	left:-1000px;
}

.chat-input
{
	height:60px;
}

.minimize,.title,.footer
{
	color: #fff
}

.chat a.attachment {
	text-decoration:none;
}
.chat .attachment-name {
	text-decoration:underline;
}

.chat-visitor-message, .chat-operator-message {
	word-break:break-word;
	-ms-word-break:break-word;
}

select {
	display: inline-block;
	padding: 0;
	outline: 0;
	border: 1px solid #CCC;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	width:100%;
	height:100%;
	position:relative;
}

.dropdown {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E7E7E7;
	background: -moz-linear-gradient(top, #EDEDED 0%, #DEDEDE 100%);
	background: -webkit-linear-gradient(top, #EDEDED 0%, #DEDEDE 100%);
	background: -ms-linear-gradient(top, #EDEDED 0%, #DEDEDE 100%);
	background: linear-gradient(to bottom, #EDEDED 0%, #DEDEDE 100%);
	border: 1px solid #CCC;
	cursor: pointer;
	outline: none;
	color: #333;
	-webkit-text-shadow: 0 1px 1px #fff;
	-moz-text-shadow: 0 1px 1px #fff;
	text-shadow: 0 1px 1px #FFF;

	position:relative;
	display:inline-block;
	height:30px;
	line-height:30px;
	box-sizing:border-box;
}

.dropdown:hover, .dropdown.active {
	background: #F4F4F4;
	border: 1px solid #DCDCDC;
}


.dropdown:before {
	content: '';
	background: url(../images/icons7.png?v=20150706) no-repeat right center;
    background-position: -33px -34px;
	position: absolute;
	top:10px;
	right:8px;
	bottom:0;
	width:13px;
	z-index:0;
}

.dropdown .selected {
	position:absolute;
	top:0;
	left:12px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	z-index:1;
	height:28px;
	line-height:28px;
}

.loading-secure {
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  margin: 10px 10px 10px 10px;
}

.ssologin {
  margin: 40% 50px;
  vertical-align: middle;
  text-align: center;
}
.ssologin input[type=button] {
	margin-top:20px;
	width:160px
}
object {
	position:absolute;
	left:-1000px;
}

.whole-window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.media-chat-window {
    flex: 0 0 500px;
    height: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.media-chat-window.hidden {
    display: none;
}
#main {
    position: relative;
    height: 100%;
    width: 100%;
}

.icon-audio-chat, .icon-video-chat {
    display: '' !important;
}